main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    margin: 10px 0;
    font-size: 20px;
}

.input-padrao {
    display: block;
    margin: 10px 0;
    padding: 10px 25px;
    width: 50%;
    cursor: pointer;
}

.checkbox {
    margin: 20px 10px;
}

.selector {
    margin: 20px 0 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}


